meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Telesalud: la tecnología se une al cuidado de la salud.
meta(meta name="description" content="La Telesalud, con enfoque diferencial en planes de intervención colectivos y de cuidado personal, contribuye a monitorear y mejorar la salud de la comunidad, garantizando su vinculación a la ruta de promoción y mantenimiento de la salud, teniendo como soporte la atención idónea de los diferentes actores de este sector.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")