.container

    .header-ecored
        h1 3. Telexperticia y Telemonitoreo.


    .card
        .card-body

            .embed-responsive.embed-responsive-16by9.my-3
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KwuI4dWArZg', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Una de las estrategias de atención que utiliza la Telesalud es la telemedicina, la cual se define como la prestación de servicios de salud a distancia, utilizando las Tecnologías de Información y Comunicación (TIC), con el fin de mejorar la promoción, prevención, diagnóstico, tratamiento y rehabilitación de la enfermedad. Estas acciones, realizadas por profesionales de la salud, permiten el intercambio de datos e información para facilitar la prestación de servicios a personas que tienen dificultades para acceder de manera oportuna a dichos servicios. 

            .row.my-4.justify-content-center
                .col-12.col-md-6
                    p.text-center
                        img(src="assets/images/pages/tema-3/tema3-p1.svg", alt="").img-fluid

            p.mt-5 La Telemedicina cuenta con cuatro (4) categorías para la atención en salud. Explicaremos a continuación las dos primeras: 

            .row.justify-content-center.mt-4

                .col-10.col-md-8
                    .card-media(style="background:#ECEFFE")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-3/icon-1.svg").img-fluid
                            .card__copy 
                                p #[strong Telemonitoreo]: Es la relación entre el personal de la salud y un usuario que se encuentre en cualquier lugar, a través de un medio tecnológico (llamada, chat, video llamada, correo electrónico etc.) que permite la transferencia de los datos clínicos para realizar seguimiento, revisión clínica o respuestas al usuario. En este caso, el usuario debe responsabilizarse del manejo de los datos que ha de entregar al profesional que lo atiende. (Ministerio de Salud, 2019) 


                .col-10.col-md-8
                    .card-media(style="background:#ECEFFE")
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-3/icon-2.svg").img-fluid
                            .card__copy 
                                p #[strong Teleexperticia]: El Ministerio de Salud (2019) la define como la relación a distancia, utilizando métodos de comunicación sincrónica o asincrónica para proporcionar servicios de salud, utilizando Tecnologías de Información y Comunicación (TIC).

                                p.mt-3 Se puede dar de la siguiente forma:
                                    ul.bg-color-dark.mt-2
                                        li 
                                            span Entre dos o más profesionales de la salud.
                                        li 
                                            span Entre profesional y técnico de la salud.
                                        li 
                                            span Juntas médicas.


            .header-arrow--primary.my-5
                h3.text-center Recuerda que la Teleexperticia puede desarrollarse de varias maneras:


            .row.justify-content-center.mt-5
                .col-11
                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 El usuario está acompañado

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-3/tema3-p2-1.svg", alt="").img-fluid

                            p.mt-4 El usuario está acompañado por dos profesionales de la salud al mismo tiempo: uno acompaña personalmente al paciente durante la atención y es responsable del tratamiento, las decisiones y las recomendaciones del paciente, y el otro, es garante de la calidad de la atención al paciente, acompañando la consulta a distancia y registrando información esencial en la historia clínica.

                    hr

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Usuario es atendido a distancia

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-3/tema3-p2-2.svg", alt="").img-fluid

                            p.mt-4 Usuario es atendido a distancia por un profesional de la salud y presencialmente por un técnico de salud pública, auxiliar de enfermería o tecnólogo, quienes tienen la responsabilidad de ejecutar las actividades de cuidado, de acuerdo al ámbito de su profesión. Esta atención es realizada a través de aplicaciones o programas que descargan los usuarios, a fin de poder realizar encuentros en tiempo real por medio de videoconferencia. Esto permite que se dé una interacción más productiva y el usuario reciba toda la orientación necesaria.


                    hr

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Por medio telefónico

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-3/tema3-p2-3.svg", alt="").img-fluid

                            p.mt-4 El profesional de la salud realiza una llamada de forma segura, a otro profesional del área, a fin de solicitar orientación o atención a sus necesidades.                            

                    hr

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Por escrito

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-3/tema3-p2-4.svg", alt="").img-fluid

                            p.mt-4 En esta ocasión, por medio del correo electrónico, los profesionales de la salud se envían la información necesaria para la atención u orientación de casos especiales de atención.                               

                    hr

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Atención interconsulta

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-3/tema3-p2-5.svg", alt="").img-fluid

                            p.mt-4 Cuando el paciente es atendido en interconsulta o asesoría solicitada por el médico tratante, de acuerdo con las condiciones del paciente.                             



    section

        .header-arrow--primary.my-5
            h3 
                i.fa.fa-lg.fa-heartbeat.mr-2
                | Ejemplo de Telemonitoreo y Teleexperticia
                
            p.text-muted.mt-2.mr-4 
                | Veamos ahora en un ejemplo cómo funciona el Telemonitoreo y la Teleexperticia.

        .row.mt-5    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t1.svg").card-img-top
                    .card-body
                        p.card-text
                            | Sebastián y su familia viven en una región geográfica distante 2 horas del casco urbano de su municipio, el cual sólo dispone de un hospital público.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t2.svg").card-img-top
                    .card-body
                        p.card-text
                            | El tiene 25 años vive con sus padres, su abuela y dos hermanos de 19 y 18 años. Están muy ansiosos y preocupados porque han escuchado en las noticias el tema de la emergencia sanitaria y la pandemia del COVID-19. Ellos no entienden muy bien el tema.

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t3.svg").card-img-top
                    .card-body
                        p.card-text
                            | <strong>Sebastián:</strong> <i>Estoy muy asustado. Mi mamá dice que tiene dolor en la garganta y llamé a mi tía y me dijo que podía ser el virus. Mejor voy a llamar al hospital.</i> <br><br> Sebastian llama y comenta lo que le ocurre. La operadora toma sus datos: nombre completo y teléfono y le indica que lo llamarán en el transcurso del día.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t4.svg").card-img-top
                    .card-body
                        p.card-text
                            | Después de dos horas, timbra el teléfono celular de Sebastián. La persona que llama se identifica como una de las <strong>gestoras comunitarias de salud</strong> de la Secretaría de salud del municipio, quien lo va a atender bajo una modalidad llamada <strong>Telemonitoreo</strong> y que él debe autorizar la atención bajo la modalidad.

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t5.svg").card-img-top
                    .card-body
                        p.card-text
                            | <strong>La gestora comunitaria le aplica el consentimiento informado</strong> leyendo el contenido del consentimiento y registrando la aceptación por parte de Sebastian.

                            section.my-5
                                a(href="media/documentos/3-consentimiento-informado.pdf" target="_blank").media-link      
                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                    .media-link-title
                                        p #[strong Formato]. Consentimiento informado verbal para tratamiento de datos ante la crisis de COVID-19 por Telesalud.
                            

            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t6.svg").card-img-top
                    .card-body
                        p.card-text
                            | Sebastián le comenta lo sucedido y la gestora comunitaria le aplica la <strong>guía de Telesalud del Ministerio de Salud y Protección Social, para evaluación de pacientes con COVID-19</strong>. Además le pregunta por las enfermedades que ha sufrido la mamá.

                            section.my-5
                                a(href="media/documentos/3-telesalud-guia-rapida-para-evaluacion-de-pacientes-COVID-19.pdf" target="_blank").media-link      
                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                    .media-link-title
                                        p #[strong Anexo]. Guía de Telesalud del Ministerio de Salud y Protección Social, para evaluación de pacientes con COVID-19

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t7.svg").card-img-top
                    .card-body
                        p.card-text
                            | <strong>La gestora comunitaria</strong>, además:
                            ul
                                li Resuelve todas las dudas de Sebastián frente a la pandemia de COVID-19.
                                li Le recomienda lo necesario para que la mamá supere su dolor de garganta.
                                li Le hace las recomendaciones de cuidado, como lavado de manos y sobre el aislamiento obligatorio temporal. 
                                li Le pregunta por el estado de salud del resto de la familia y le recuerda la importancia de cuidar mucho a su abuela, dado que por su edad puede más fácilmente enfermar.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t8.svg").card-img-top
                    .card-body
                        p.card-text
                            | <strong>La gestora comunitaria</strong>, concluye que la mamá no tiene, por ahora, síntomas que sugieran presencia de COVID-19 y le indica a Sebastián que le estará realizando en unos días otro, Telemonitoreo a su familia.

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t9.svg").card-img-top
                    .card-body
                        p.card-text
                            | La gestora comunitaria ha registrado toda la información en sus archivos, los cuales al finalizar el día, socializa bajo la modalidad de <strong>Teleexperticia</strong>, con el enfermero profesional del hospital del municipio, encargado de revisar la información recolectada día a día, sobre los habitantes del municipio frente al COVID-19.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-3/t10.svg").card-img-top
                    .card-body
                        p.card-text
                            | Sebastián transmite a su familia y especialmente a su mamá que la gestora comunitaria del pueblo, le brindó toda la información que necesitaban y ella podía estar tranquila por el síntoma que presentaba. Y les estaría acompañando a través de algo que llamó ,<strong>Telemonitoreo</strong>.

