.container

    .header-ecored
        h1 1. Telesalud



    .card
        .card-body


            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span A

                        .list__txt
                            h3 Normativa disposiciones para Telesalud

                            p.text-center
                                img(src="assets/images/pages/tema-1/tema1-a.svg")

                            p En Colombia, la Telesalud hace parte de la estrategia de transformación digital del gobierno nacional, y se esfuerza por lograr, a través de datos e información, la implementación de tecnología y salud digital para mejorar el acceso, la oportunidad y la calidad de la atención del paciente. Para su implementación, la Telesalud se rige por el cumplimiento de reglamentos técnicos y algunas disposiciones normativas, definidas de manera cronológica, emanadas de la estrategia del gobierno nacional para el sector salud.



            .row.justify-content-center
                .col-11.col-md-8
                    section    

                        .timeline-card-wrapper.pt-5                          

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo1_Resolucion_1448_2006.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 1448
                                            p Define las condiciones de habilitación para las instituciones que prestan servicios de salud bajo la modalidad de Telemedicina.
                                    .date
                                        h2 2006

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo2_Decreto_1011_2006.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Decreto 1011
                                            p Establece el Sistema Obligatorio de Garantía de Calidad de la Atención de Salud del Sistema General de Seguridad Social en Salud. 
                                    .date
                                        h2 2006

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo3_Ley_1122_2007.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1122
                                            p Modifica el Sistema General de Seguridad Social en Salud e incluye la modalidad de atención por Telemedicina.
                                    .date
                                        h2 2007

                           

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo4_Ley_1341_2009.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1341
                                            p Define cómo las Tecnologías de la Información y las Comunicaciones, apoyarán el desarrollo de la Telesalud
                                    .date
                                        h2 2009   

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo5_Ley_1419_2010.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1419
                                            p Lineamientos para el desarrollo de la Telesalud en Colombia. 
                                    .date
                                        h2 2010

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo6_Resolucion_2003_2014.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 2003
                                            p Define los procedimientos y condiciones de inscripción de los Prestadores de servicios de salud y de habilitación de servicios de salud.
                                    .date
                                        h2 2014   

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo7_Ley_1753_2015.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1753
                                            p Define, en el Artículo 45, los estándares, modelos y lineamientos de Tecnologías de la Información y las Comunicaciones (TIC) para los servicios al ciudadano.
                                    .date
                                        h2 2015


                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo8_Ley_1751_2015.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Ley 1751
                                            p Regula el derecho fundamental de la salud.
                                    .date
                                        h2 2015

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo9_Resolucion_429_2016.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 429
                                            p Por medio de la cual se adopta la Política de Atención Integral en Salud
                                    .date
                                        h2 2016

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo10_Resolucion_1441_2016.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 1441
                                            p Establece los estándares, criterios y procedimientos para la habilitación de las Redes Integrales de Prestadores de Servicios de Salud
                                    .date
                                        h2  2016

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo11_Resolucion_5857_2018.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 5857
                                            p Actualiza integralmente el Plan de Beneficios en Salud con cargo a la Unidad de Pago por Capitación (UPC), incluyendo la atención por telemedicina.
                                    .date
                                        h2 2018


                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo12_Resolucion_2654_2019.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 2654
                                            p Establece disposiciones para la telesalud y parámetros para la práctica de la telemedicina en el país. 
                                    .date
                                        h2 2019

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo13_Resolucion_3100_2019.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Resolución 3100
                                            p Establece los procedimientos de habilitación de los servicios de salud donde se incluye la Telesalud.
                                    .date
                                        h2 2019

                            .timeline-card
                                .timeline-card__head
                                    a(href="media/documentos/Anexo14_Decreto_538_2020.pdf", target="_blank")
                                        .img-box
                                            img(src="assets/images/pages/tema-1/timeline-download.svg", alt="")
                                        .info-box
                                            h3 Decreto 538
                                            p Adoptan medidas en el sector salud, para contener y mitigar la pandemia de COVID-19 y garantizar la prestación de los servicios de salud, en el marco del Estado de Emergencia Económica, Social y Ecológica. 
                                    .date
                                        h2 2020

            hr 

            .row.justify-content-center.align-items-center.mt-3
                .col-12
                    .list.mb-3
                        .list__item
                            .list__item__bulletNumber
                                span B

                        .list__txt
                            h3 Parámetros para la práctica de la Telesalud

                            .embed-responsive.embed-responsive-16by9.my-5
                                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/GwMyQlFQHFo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
 
                            p.mt-4 La Telesalud se refiere a una serie de actividades de intercambio de datos, realizadas a distancia y mediadas por las Tecnologías de la Información y la Comunicación (TIC), en el ámbito de la promoción, prevención, diagnóstico, tratamiento y rehabilitación realizada por profesionales de la salud, con el fin de facilitar y ampliar la cobertura a personas que viven en áreas remotas. 


                            p.text-center.my-4
                                img(src="assets/images/pages/tema-1/tema1-b.svg", alt="").img-fluid

                            p.mt-4 El objetivo de la Telesalud es mejorar la accesibilidad, la resolución, la continuidad y la calidad de la atención clínica para tener un impacto positivo en la salud pública y la educación sanitaria. 

                            P.mt-4 De acuerdo con lo señalado en la #[strong Resolución 2654 de 2019], la Telesalud incluye: 


                            #tema-2-q5.mt-5

                                .row.justify-content-center.align-items-end
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-1.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 1. Teleeducación                              

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-2.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 2. Telemedicina



                                .row.justify-content-center.align-items-end.mt-4
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-3.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 3. Teleorientación                               

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-4.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 4. Teleapoyo

                                .row.justify-content-center.align-items-end.mt-4
                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-5.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 5. Teleexperticia                                

                                    .col-12.col-md-4
                                        .row.justify-content-center
                                            .col-12
                                                .text-center
                                                    img(src="assets/images/pages/tema-1/tema1-b-6.svg", alt="").img-fluid
                                            .col-12
                                                .box-text.d-flex.align-items-center.justify-content-center
                                                    p.text-center 
                                                        strong 6. Telemonitoreo                                                      


                            p.mt-5 Dentro de los principios y valores que orientan la Telesalud, se destacan la libre escogencia, la autonomía profesional, la responsabilidad y el consentimiento informado; en consonancia con el #[strong Ministerio de Salud (2020)], la inclusión y aplicación de estos principios y valores en la operatividad de los servicios de salud que prestan las entidades colombianas, genera múltiples beneficios, tanto para los pacientes como para los profesionales de la salud. Algunos de estos beneficios son los siguientes:


                            .row.justify-content-center.align-items-center.mt-4
                                .col-11
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Factible acceso a servicios de salud, independiente del sector territorial.

                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Mejora la calidad de vida del paciente por la disminución de desplazamientos para una atención o monitorización remota desde su domicilio.


                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Factible acceso a servicios de salud, independiente del sector territorial.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Mejora la calidad de vida del paciente por la disminución de desplazamientos para una atención o monitorización remota desde su domicilio.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Mejora la oportunidad, continuidad y resolutividad de la atención.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Reduce los tiempos de espera, lo que conlleva a una detección temprana (tanto en la realización del diagnóstico como en el tratamiento), evitando dificultades por la atención inoportuna. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Posibilita realizar atención remota de baja, mediana y alta complejidad, reduciendo el número de remisiones y garantizando el acceso a los especialistas de salud.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Disminuye la posibilidad de infección cruzada entre usuarios de los servicios de salud y el personal de salud. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Incide en la formación y competencia del talento humano en salud, al contar con el apoyo del especialista o de una segunda opinión del talento humano en salud.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Facilita la educación de pacientes en medicina preventiva y salud pública. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Descongestiona servicios de urgencias y de consulta externa, al evitar la migración de pacientes. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Contribuye a la reducción de movilidad de personas en la ciudad y con ello a la reducción de gastos de transporte. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Responde a las necesidades inmediatas en salud de la comunidad. 
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Es un medio de racionalización de costos en salud, ya que permite tener una mayor cobertura, y aumenta la productividad y la rentabilidad.
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Puede abarcar otros servicios de gestión administrativa, como entrega de fórmulas o facturación
                                    .list.mb-2
                                        .list__item
                                            .list__item__icon
                                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                                        .list__txt
                                            p Mejora la calidad del servicio. 


                            p.text-center.mt-5
                                img(src="assets/images/pages/tema-1/tema1-p3.svg", alt="").img-fluid

                            .row.justify-content-center.mt-3
                                .col-12.col-md-5
                                    p.text-center
                                        .bg-caption
                                            h4 Valores de la Telesalud
                            p.text-center.mt-2
                                span #[strong Fuente.] Nuevo Marco Reglamentario para la Telesalud en Colombia <br>
                                span Ministerio de Salud y Protección Social. III Foro Nacional de Calidad 2019.

                            
                            p.mt-5 Finalmente, como no todo es simple, la Telesalud en Colombia presenta retos como la reglamentación, los costos en infraestructura tecnológica, el talento humano capacitado, la sostenibilidad y la cultura.