.container

    .header-ecored
        h1 4. Telemedicina interactiva y no interactiva.

    .card
        .card-body

            .embed-responsive.embed-responsive-16by9.my-3
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/45HPYYfO8Hk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Llegamos al cierre y continuamos el estudio con las dos categorías restantes de la Telemedicina, las más utilizadas actualmente para la atención en salud: 

            .row.justify-content-center.mt-5
                .col-11
                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Telemedicina Interactiva

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-4/tema4-p1-1.svg", alt="").img-fluid

                            p.mt-4 Se realiza de forma sincrónica (videollamadas), mediante el uso de herramientas de la Tecnologías de la Información y la Comunicación (TIC). A través de este medio se establece una relación a distancia entre los profesionales de la salud y los usuarios del servicio, para proporcionar servicios de atención. Los profesionales de la salud guían el diagnóstico, el tratamiento y la intervención ordenada.

                    hr

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_duoble_chevron.svg").img-fluid

                        .list__txt
                            h3 Telemedicina no interactiva

                            .row.justify-content-center
                                .col-12.col-md-6
                                    p.text-center
                                        img(src="assets/images/pages/tema-4/tema4-p1-2.svg", alt="").img-fluid

                            p.mt-4 Se realiza mediante el uso de la Tecnología de la Información y la Comunicación (TIC), a través de una comunicación asincrónica, que no requiere respuesta inmediata, en donde se establece una relación a distancia entre un profesional del área de la salud, de un prestador y un usuario, para la prestación de servicios de salud. El profesional de salud establece el diagnóstico, tratamiento e intervenciones ordenadas.


                    .subtitulo-guion.my-5
                        h3 Beneficios

                
                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                        .list__txt
                            p La Telemedicina interactiva y no interactiva posibilitan, de manera oportuna, el diagnóstico, tratamiento y las intervenciones requeridas por cada paciente.

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                        .list__txt
                            p Evitan el traslado del paciente para consultar con un médico especialista.

                    .list.mb-4
                        .list__item
                            .list__item__icon
                                img(src="assets/images/icons/icon_single_chevron.svg").img-fluid

                        .list__txt
                            p La Telemedicina interactiva permite el acercamiento entre los profesionales del área de la salud y los pacientes en un tiempo real, mediante la utilización de herramientas TIC.                           



    section

        .header-arrow--primary.my-5
            h3 
                i.fa.fa-lg.fa-heartbeat.mr-2
                | Ejemplo de Telemedicina
                
            p.text-muted.mt-2.mr-4 
                | Veamos el siguiente ejemplo de Telemedicina.

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-4/c1.svg").card-img-top
                    .card-body
                        p.card-text
                            | Carmen Elena es una señora que habita en una región geográfica relativamente apartada del hospital donde consulta. Un día Carmen Elena se sintió mal de salud y su amiga Lorena, la acompañó al puesto de salud más cercano. Allí la recibió la enfermera jefe de turno quien le hizo la valoración inicial y le tomó sus signos vitales.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-4/c2.svg").card-img-top
                    .card-body
                        p.card-text
                            |  El estado de salud de Carmen Elena estaba empeorando y la enfermera consideró pertinente que la señora recibiera una atención más especializada. <strong>La enfermera entonces decide ofrecerle a Carmen Elena el servicio de atención en salud mediante la modalidad de Telemedicina</strong>, a través de una videollamada, con un médico especialista que se encontraba en el hospital municipal, al que pertenece el puesto de salud.
                

        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-4/c3.svg").card-img-top
                    .card-body
                        p.card-text
                            | Carmen Elena acepta esta modalidad de atención (a través del consentimiento informado) y la enfermera accede a la plataforma de Teleconsulta para solicitar una interconsulta en tiempo real (TELEMEDICINA INTERACTIVA) con el médico que necesita Doña Carmen Elena. 
                            section.my-5
                                a(href="media/documentos/3-consentimiento-informado.pdf" target="_blank").media-link      
                                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                                    .media-link-title
                                        p #[strong Formato]. Consentimiento informado verbal para tratamiento de datos ante la crisis de COVID-19 por Telesalud.


            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-4/c4.svg").card-img-top
                    .card-body
                        p.card-text
                            | El médico establece comunicación con la enfermera y Carmen Elena, a través de la Telemedicina interactiva, le solicita a la enfermera jefe, realizar los procedimientos requeridos para tratar a la paciente. La enfermera, será la responsable de realizar todo lo ordenado por el médico para la recuperación de la paciente, así como de confirmar y enviar los datos para dar una opinión técnica frente al tratamiento.


        .row    
            .col-12.col-lg-6
                .card
                    img(src="assets/images/pages/tema-4/c5.svg").card-img-top
                    .card-body
                        p.card-text
                            | Al terminar la Teleconsulta, el médico da su diagnóstico y las recomendaciones pertinentes. La enfermera jefa será la encargada de realizar el seguimiento, para lo cual informa a Carmen Elena que en dos días recibirá una llamada telefónica, para verificar su estado de salud y aclarar las dudas.




        .jumbotron.mt-5
            h3 Algunas recomendaciones
            p
                ul
                    li La telemedicina interactiva permite el acercamiento entre los profesionales del área de la salud y los pacientes en un tiempo real, mediante la utilización de las tecnologías de la información y las comunicaciones (TIC).
                    li La telemedicina interactiva evita el traslado del paciente para consultar con un médico general o especialista, de acuerdo al caso.
                    li La telemedicina interactiva y no interactiva permiten brindar de manera oportuna un diagnóstico, tratamiento y las intervenciones requeridas por cada paciente.