//Colores base del material de formación
$brand-color-dark: #3E145E;
$text-color-dark: #ffffff;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #99A1D3;
$text-color-light: white;
$brand-color-secondary: #99A1D3;

$brand-color-optional: #DEF3F5;